/* 1. -----Genral Styles-----*/
body {
    color: black;
    font-family: 'Segoe UI', 'Times New Roman', serif;
    font-size: 15px;
 }
 
 a {
    text-decoration: none;
    transition: all .1s ease-in;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }

 .boldtext {
   font-weight: bold;
 }

 .hidden {
   display: none;
 }


  /* 2. ---Main Nav--- */
 

  #main-nav label img {
   width: 20px;
   height: 20px;
   margin-top: 15px;
   cursor: pointer;
   transition: all .5s ease;
   margin-bottom: 20px; 
} 

#main-nav input, #burger-con {
   display: none;
}
 
#main-nav input:checked ~ #burger-con {
   display: block;
}

#main-nav input:checked ~ label img {
   transform: rotate(90deg);
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #ffffff;
}

#main-nav ul li {
   border-bottom: 1px solid #efefef;
}



#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
} 

#sticky-nav-con {
   background-color: #E02626;
}



#logo {
   max-width: 288px;
}


 #banner {
   text-align: center;
   background-color: #c3c3c3;
   height: 300px;
 }
 
 #banner h2 {
   color: black;
   margin-top: 10px;
 }

 #banner h3 {
   color: #E02626;
 }

 h1,h2 {
   color: #E02626;
   margin-top: 10px;
 }


 p,h1,h2 {
   margin-bottom: 20px;
 }

 h3 {
   margin-top: 20px;
   margin-bottom: 10px;
 }

 #finale-project {
   text-align: center;
 }

 .video-container {
   height: 700px;
   width: fit-content;
 }

 #event-details {
   text-align: center;
 }

 .event-box {
   border:  1px  ;
   border-radius: 50px;
   height: 250px;
   text-align: center;
   margin-top: 30px;
   box-shadow: 0px 10px 20px -5px rgba(165, 114, 114, 0.8);
   
 }

 .event-box:hover {
   box-shadow: 0px 10px 40px -5px rgba(165, 114, 114, 0.8);
   transform: scale(1.05);
   transition: transform .3s ease-in-out, box-shadow 0.3s ease;
 }

 .event-box h3 {
   margin-top: 10px;
 }

 .event-box p {
   margin: 10px;
 }

#spot {
   margin-top: 30px;
   
}

#spot h2 {
   text-decoration: underline;
   text-align: center;
}

.container {
   background-color: #c3c3c3;
   height: 400px;
   margin-top: 40px;
   box-shadow: 0px 10px 20px -5px rgba(165, 114, 114, 0.8);
}

.container:hover {
   box-shadow: 0px 10px 40px -5px rgba(165, 114, 114, 0.8);
   transform: scale(1.05);
   transition: transform .3s ease-in-out, box-shadow 0.3s ease;
}

.container p {
   margin-top: 70%;
   border-top: 2px black solid;
   padding-top: 10px;
}

#mentions {
   margin-top: 30px;
   
}

#mentions h2 {
   text-decoration: underline;
   text-align: center;
}

#project {
   margin-top: 100px;
}

.project-container {
   background-color: #c3c3c3;
   border-radius: 40px;
   height: 300px;
   margin-top: 50px;
   box-shadow: 0px 10px 20px -5px rgba(165, 114, 114, 0.8);
}

.project-container:hover {
   box-shadow: 0px 10px 40px -5px rgba(165, 114, 114, 0.8);
   transform: scale(1.05);
   transition: transform .3s ease-in-out, box-shadow 0.3s ease;
}

.heading-container {
   border-radius: 40px;
   height: 300px;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.heading-container h2 {
   text-decoration: underline;
}

#reviews h2 {
   text-decoration: underline;
   text-align: center;
   margin-top: 30px;
}

#reviews p {
   text-align: center;
   margin: 20px;

}

.review-container {
   border: 1px ;
   height: 200px;
   border-radius: 60px;
   margin-top: 20px;
   box-shadow: 0px 10px 20px -5px rgba(165, 114, 114, 0.8);  
}

.review-container:hover {
   box-shadow: 0px 10px 40px -5px rgba(165, 114, 114, 0.8);
   transform: scale(1.05);
   transition: transform .3s ease-in-out, box-shadow 0.3s ease;
}

#course-details h2 {
   margin-top: 30px;
}

#course-details p {
   margin-top: 20px;
}

button {
   height: 40px;
   color:black;
   border-radius: 15px;
   font-size: 20px;
   border: none;
   background-color: #ffc7c7;
}

button:hover {
   transform: scale(1.2);
   transition: all .5s ease-in-out;
   background-color: #ffc7c7;
   cursor: pointer;
}

#dev-spotlight h2 {
   text-decoration: underline;
   text-align: center;
   margin-top: 30px;
}

#dev-spotlight a {
   display: flex;
   justify-content: center;
}

.dev-container {
   border: 1px ;
   height: 100px;
   border-radius: 40px;
   margin-top: 20px;
   box-shadow: 0px 10px 20px -5px rgba(165, 114, 114, 0.8);
}

.dev-container:hover {
   box-shadow: 0px 10px 40px -5px rgba(165, 114, 114, 0.8);
   transform: scale(1.05);
   transition: transform .3s ease-in-out, box-shadow 0.3s ease;
}

#portfolio-gallery h2 {
   text-decoration: underline;
   text-align: center;
   margin-top: 30px;
}


#portfolio-gallery a {
   display: flex;
   justify-content: center;
}



.gallery-container {
   border: 1px ;
   height: 100px;
   border-radius: 40px;
   margin-top: 20px;
   box-shadow: 0px 10px 20px -5px rgba(165, 114, 114, 0.8);
   
}


.gallery-container:hover {
   box-shadow: 0px 10px 40px -5px rgba(165, 114, 114, 0.8);
   transform: scale(1.05);
   transition: transform .3s ease-in-out, box-shadow 0.3s ease;
   
}

#footer {
   background-color: #E02626;
   height: 220px;
   margin-top: 30px;
}

h3 {
   text-align: center;
}

.footer-logo {
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social {
   display: flex;
   align-items: center;
   justify-content: center;
}

.social p {
   color: #ffffff;
   margin-top: 10px;
}

.social img {
   width: 60px;
   height: 60px;
   padding: 10px;
}

/* progress bar animation*/

.progress {
   position: fixed;
   top: 78px;
   left: 0;
   right: 0;
   height: 10px;
   background-color: #f44336;
   transform-origin: 0 50%;
}

@keyframes grow-progress {
   from { transform: scaleX(0); }
   to { transform: scaleX(1); }
}

.progress {
   animation: grow-progress 3s linear;
}

.progress {
   animation-timeline: scroll();
}



/* video controls */

#player-container {
   position: relative;
   display: flex;
   flex-direction: column;
}

.video-controls.hidden {
 display: none;
}

.video-controls {
   right: 0;
   left: 0;
   padding: 20px;
   position: absolute;
   bottom: 0px;
   transition: all 0.2s ease;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
   display: flex;
 }
 
 .video-controls.hide {
   opacity: 0;
   pointer-events: none;
 }

 button {
   padding: 0;
   border: 0;
   background-color: transparent;
 }

 .fa, .fa-solid {
   color: #fff;
   font-size: 28px;
   margin-left: 20px;
 } 

 .fa-stop-circle-o {
   margin-right: 20px;
 }

 .fa-volume-up {
   margin-left: auto;
 }

 input[type="range"] {
   -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 15rem;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /******** Chrome, Safari, Opera and Edge Chromium styles ********/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
   background-color: #ffffff;
   border-radius: 0.5rem;
   height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -4px; /* Centers thumb on the track */
   background-color: #808080;
   border-radius: 0.5rem;
   height: 1rem;
   width: 1rem;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {
   outline: 3px solid #808080;
   outline-offset: 0.125rem;
 }
 
 /*********** Firefox styles ***********/
 /* slider track */
 input[type="range"]::-moz-range-track {
   background-color: #ffffff;
   border-radius: 0.5rem;
   height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-moz-range-thumb {
   background-color: #808080;
   border: none; /*Removes extra border that FF applies*/
   border-radius: 0.5rem;
   height: 1rem;
   width: 1rem;
 }
 
 input[type="range"]:focus::-moz-range-thumb{
   outline: 3px solid #808080;
   outline-offset: 0.125rem;
 }


 @media screen and (min-width: 768px) {


   body {
      font-size: 16px;
   }

 
   #sticky-nav-con {
      position: sticky;
      top: 0px;
      background-color: #E02626;
      border-bottom: solid 1px #E02626;
      z-index: 1;
   }

   #main-header {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   
   #hamburger {
     display: none;
   }

   #burger {
     display: none;
   }
 

   #button {
      display: none;
   }

   #burger-con {
      display: block;
      font-size: 12px;
   }

   #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #main-nav ul li a {
      display: inline;
      font-size: 16px;
      padding-right: 7px;
      font-weight: bold;
      
   }

   #main-nav ul{
      margin-left: 80px;
      text-align: right;
   }

   #main-nav ul li a:hover {
     font-size: 18px;

  }

   #burger-con ul li {
      margin-right: 10px;
   }

   #burger-con ul li:last-child {
      margin-right: 0px;
      padding-right: 0;
   }

   #main-nav {
      padding-left: 30px;
   }

   .review-container {
      
      height: 250px;
      
   }

  

}

 
@media screen and (min-width: 1200px) {


   #main-header {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }


   #burger-con ul li {
      margin-right: 25px;
   }

   #main-nav ul li a {
     font-size: 16px;
     padding-right: 15px;
  }

  #burger-con ul li:last-child {
     margin-right: 0px;
     padding-right: 0;
  }


   #burger-con {
      font-size: 16px;
   }

  

   .review-container {
      height: 200px;
   }
}